# Root
.env
.env.*
node_modules/
*.log
.DS_Store

# Backend
/backend/node_modules/
/backend/.env
/backend/.vscode/
/backend/uploads/
/backend/cloudinary/
/backend/logs/
/backend/*.log

# Frontend
/frontend/node_modules/
/frontend/.env
/frontend/.env.local
/frontend/.vite/
/frontend/dist/
/frontend/build/
/frontend/.vscode/
/frontend/coverage/
